<!-- templates/home.html -->
{% extends 'base.html' %}


{% block content %}
<div class= "mainb">
	<div class="reg">
		<h2><center>About me</center></h2>
		<p>My name is Ayomide Arowolo. I graduated from Collin County Community college with an Associates in Business Administration in 2017 and continued my education at the University of North Texas with a major in Business Computer Information systems. I currently work at Ernst & Young as a Tech Consultant.  I enjoy travelling, playing drums, ,watching soccer, listening to music, and  singing. I also like gaining new experiences and broadening my horizons on the latest in Music and Technology.</br></br>The goal of the platform is to enlighten / educate young adults on some areas of technology through researched and vetted platforms that provide that knowledge.</p>
	</div>
</div>
	<footer style="
	width:100%;  
	position: fixed;
	bottom:0;">
		<h2>Contact me</h2>
		<center>ayoarowolo12@hotmail.com</center>
		<center><a href= "https://www.linkedin.com/in/ayoarowolo12">https://www.linkedin.com/in/ayoarowolo12</a></center>
	</footer>
	
{% endblock content %}
